<html>
  <body>
    <h1>hello world by Mr Chowdary</h1>
     	<h2> hi there</h2>
     	<a href="autoattributes.html" alt="noautoattributes.html">attributes</a>
	<br/> Custom attribute     <%=node['apache']['greeting'] %>

	<br/> Custom attribute     <%=node['apache']['sites'] %>

	<br/> Custom attribute     <%=node['apache']['greeting'] %>

  </body>
</html>
